@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Cinzel:wght@400..900&family=Space+Grotesk:wght@300..700&display=swap');

:root {
  --dkgrey: #333;
  --tp-dkgrey: #333333dd;
  --turquoise: #40e0d0;
  --lt-turquoise: #9fefe7;
  --offwhite: #f4f4f4;
  --tp-offwhite: #f4f4f477;
  --purple: #693bc7;
  --accent-yellow: #ffff77;
  --accent-ltred: #ff7777;
  --accent-green: #55c555;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  color: var(--offwhite);
  font-family: "Space Grotesk", sans-serif;
  background-image: url(assets/data-bg.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

body:before {
  content: "";
  display: block;
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  min-height: 100vh;
  background-color: var(--tp-offwhite);
  background-size: cover;
  background-position: center;
  opacity: 0.8;
}


/* ***** RELATIVE POSITION ***** */
header,
main,
footer {
  position: relative;
}


/* ***** FLEX ***** */
header,
header h1 span,
main,
section,
footer,
footer .credits {
  display: flex;
}


/* ***** FLEX ROW ***** */
header h1 span {
  flex-direction: row;
}


/* ***** FLEX COLUMN ***** */
header,
main,
section,
footer,
footer .credits {
  flex-direction: column;
}


/* ***** JUSTIFY CONTENT CENTER ***** */
header,
header h1 span,
main,
section,
footer,
footer .credits {
  justify-content: center;
}


/* ***** ALIGN-ITEMS CENTER ***** */
header,
header h1 span,
main,
section,
footer,
footer .credits {
  align-items: center;
}


/* ***** TEXT ALIGN ***** */
/* header,
header h1 span {
  text-align: center;
}

section {
  text-align: left;
}

@media screen and (max-width: 480px) {
  section {
    text-align: center;
  }
}

section p.chart-link {
  text-align: center;
} */


/* ***** FLEX GAP ***** */
header,
header h1 span,
footer .credits {
  gap: .625rem;
}

main {
  gap: 2.5rem;
}

section {
  gap: .9375rem;
}


/* ***** WIDTH ***** */
header,
main {
  width: clamp(45ch, 50%, 75ch);
}

@media screen and (max-width: 480px) {

  header,
  main {
    width: 100%;
  }
}

header h1 span img {
  width: 2.5rem;
}

footer {
  width: 100%;
}


/* ***** BLOCK MARGIN ***** */
header {
  margin-top: 1.25rem;
  margin-bottom: 2.5rem;
}

main {
  margin-bottom: 3.125rem;
}

footer {
  margin-top: auto;
}


/* ***** INLINE MARGIN ***** */
header,
main {
  margin-inline: auto;
}


/* ***** BLOCK PADDING ***** */
section {
  padding-block: 1.5625rem;
}

footer .fcc-link {
  padding-block: 1.25rem;
}

footer .credits {
  padding-top: 1.25rem;
  padding-bottom: .625rem;
}


/* ***** INLINE PADDING ***** */
header,
main {
  padding-inline: 1.25rem;
}

@media screen and (max-width: 480px) {
  header,
  main {
    padding-inline: 1rem;
  }
}

section {
  padding-left: 1.875rem;
  padding-right: 1.5625rem;
}

@media screen and (max-width: 480px) {
  section {
    padding-inline: 1.25rem;
  }
}


/* ***** FONT SIZE ***** */
footer .fcc-link {
  font-size: .875rem;
}

footer .credits {
  font-size: .75rem;
}


/* ***** FONT WEIGHT ***** */
section.cert-description .note {
  font-weight: 500;
}


/* ***** FONT COLOR ***** */
header {
  color: var(--dkgrey);
}

section h2 {
  color: var(--accent-yellow);
}

section.cert-description .note {
  color: var(--accent-green);
}


/* ***** LINKS ***** */
a {
  color: var(--turquoise);
  font-weight: 500;
  text-decoration: none;
}

a:hover {
  text-decoration: wavy underline;
  text-underline-offset: .3125rem;
}

a:active {
  color: var(--accent-ltred);
}


/* ***** BACKGROUND COLOR ***** */
section,
footer {
  background-color: var(--tp-dkgrey);
}


/* ***** BORDER RADIUS ***** */
section {
  border-radius: .625rem;
}


/* ***** BORDER STYLES ***** */
footer .fcc-link {
  border-bottom: 2px dashed var(--tp-offwhite);
}